.product {
    width: 290px;
}

.product-image {
    padding: 29px;
    width: 100%;
    height: inherit;
}

.product-image:hover {
    cursor: pointer;
}

.product-category {
    font-size: 14px;
    color: #8f8f8f;
    margin-top: 11px;
}

.product-details {
    display: flex;
    flex-direction: column;
}

.product-name {
    height: 20px;
}

.product-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.product-price {
    font-weight: 700;
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 250px;
    padding-bottom: 26px;
}

