.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

@media (max-width: 1300px) {
    .products-container {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 1000px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 650px) {
    .products-container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}
