.orders-container {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


@media (max-width: 800px) {
    .orders-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .payment-container {
        width: 30%;
        height: 30%;
    }
}

@media (max-width: 650px) {
    .orders-container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .payment-container {
        width: 30%;
        height: 30%;
    }
}

.orders-container {
    flex: 1;
}

.payment-container {
    width: 30%;
    height: 30%;
}

.container{
    display: flex;
}


